
<div class="row">
    <div class="col-md-6">
        <button routerLink="/addclient" type="button" class="btn btn-danger
            mr-4 mb-3
            mb-sm-0"><i class="uil-plus mr-1"></i> Nouveau
            Client</button>


        <div class="task-search d-inline-block mb-3 mb-sm-0
            mr-sm-3">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control search-input"
                        placeholder="Search..." />
                    <span class="uil uil-search icon-search"></span>
                    <div class="input-group-append">
                        <button class="btn btn-soft-primary" type="button">
                            <i class='uil uil-file-search-alt'></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
<br>

<div class="card">
    <div class="card-body">

        <div class="container">
            <br />
            <h3 class="card-title">Liste des clients</h3>


        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date de Naissance</th>
                    <th>Adresse</th>
                    <th>Tel</th>
                    <th>Ville</th>
                    <th>Email</th>
                    <th>Mot de passe</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cp of clientp">
                    <td scope="row">{{cp.nom}}</td>
                    <td>{{cp.prenom}}</td>
                    <td>{{cp.dtn}}</td>
                    <td>{{cp.adresse}}</td>
                    <td>{{cp.tel}}</td>
                    <td>{{cp.nomVille}}</td>
                    <td>{{cp.email}}</td>
                    <td>{{cp.mdp}}</td>

                    <td class="text-right">

                        <a href="" class="btn btn-info">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a>

                        <a href="" class="btn btn-warning">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>