<div class="row m-3">
    <div class="col-md-12">
        <a routerLink="/clientpar">
            <i class="fa fa-arrow-circle-left" aria-hidden="true">
            </i>
            Retour au Dashboard
        </a>
    </div>
</div>

<div class="container">
    <br />
    <h2>Ajouter un Client</h2>
    <div class="row justify-content-start">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name"
                    [(ngModel)]="client.nom" />
            </div>

            <div class="form-group">
                <label for="address">Addresse</label>
                <input type="text" class="form-control" id="address"
                    [(ngModel)]="client.adresse" />
            </div>


            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email"
                    [(ngModel)]="client.email" />
            </div>




        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="first_name">Prénom</label>
                <input type="text" class="form-control" id="first_name"
                    [(ngModel)]="client.prenom" />
            </div>
            <div class="form-group">
                <label for="phone">Téléphone (Mobile)</label>
                <input type="text" class="form-control" id="phone"
                    [(ngModel)]="client.tel" />
            </div>
            <div class="form-group">
                <label>Mot de Passe</label>

                <input type="password" id="pass2"
                    class="form-control" required=""
                    placeholder="Password"
                    [(ngModel)]="client.mdp">
            </div>


        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Date de Naissance</label>
                <input class="form-control" id="example-date"
                    type="date" name="date"
                    [(ngModel)]="client.dtn">
            </div>



            <div class="form-group">
                <label for="">Ville</label>
                <select class="form-control
                    (change)="filterVilles($event)" id="hh">
                    <option></option>
                    <option *ngFor="let ville of dropDownList"
                        [value]="ville.id" [(ngModel)]="client.idVille">
                        {{ville.nomVille}}</option>

                </select>
                <h1>{{client.idVille}}</h1>
            </div>




        </div>
        <div class="submit-button d-none d-md-block">
            <button type="button" class="btn btn-purple btn-more-padding"
                (click)="addclientpar()">
                Enregistrer mes modifications
            </button>
        </div>
        <div class="submit-button d-block d-md-none">
            <button type="button" class="btn btn-block btn-purple"
                (click)="addclientpar()">
                Ajouter
            </button>
        </div>

    </div>