
<div class="row">
    <div class="col-md-6">
        <button routerLink="/addclient" type="button" class="btn btn-danger
            mr-4 mb-3
            mb-sm-0"><i class="uil-plus mr-1"></i> Nouveau
            Client</button>


        <div class="task-search d-inline-block mb-3 mb-sm-0
            mr-sm-3">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control search-input"
                        placeholder="Search..." />
                    <span class="uil uil-search icon-search"></span>
                    <div class="input-group-append">
                        <button class="btn btn-soft-primary" type="button">
                            <i class='uil uil-file-search-alt'></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
<br>

<div class="card">
    <div class="card-body">

        <div class="container">
            <br />
            <h3 class="card-title">Liste des clients</h3>


        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Produit</th>
                    <th>Categorie</th>
                    <th>Date de saisie</th>
                    <th>Date de Livraison</th>
                    <th>Ville de sortie</th>
                    <th>Prix</th>
                    <th>Valeur déclarer</th>
                    <th>Client</th>
                    <th>Livreur</th>
                    <th>Statue</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cmd of commandes">
                    <td scope="row">{{cmd.idCommande}}</td>
                    <td>{{cmd.produit}}</td>
                    <td>{{cmd.categorie}}</td>
                    <td>{{cmd.dateSaisie}}</td>
                    <td>{{cmd.dateLivraison}}</td>
                    <td>{{cmd.villeSortie}}</td>
                    <td>{{cmd.prix}}</td>
                    <td>{{cmd.idClientpar}}</td>

                    <td>{{cmd.idLivreur}}</td>
                    <td>{{cmd.statue}}</td>
                    <!-- 
                    <td class="text-right">

                        <a href="" class="btn btn-info">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a>

                        <a href="" class="btn btn-warning">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>

                    </td> -->
                </tr>

            </tbody>
        </table>
    </div>
</div>